html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #1E1E1E;
}

.navbar, .panel-heading, .btn-primary {
  background-color: #AA0000;
  border-color: #AA0000;
  color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #B3985D;
  border-color: #B3985D;
}

a, .text-highlight {
  color: #B3985D;
}

.panel, .well {
  border-color: #B3985D;
}

.plotly {
  background-color: white;
}